/* ===== CONTACT FORM ===== */

.container {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    position: initial;
  } 
  
  #contact input[type="text"],
  #contact input[type="email"],
  #contact input[type="tel"],
  #contact textarea,
  #contact button[type="submit"] {
    font: 400 12px/16px 'David Libre', Helvetica, Arial, sans-serif;
  }
  
  #contact {
    background: $quinary-color;
    max-width: 800px;
    margin: auto;
    padding: 25px;
  /*  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); */
  }
  
  #contact h3 {
    display: block;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
  }
  
  #contact h4 {
    margin: 5px 0 15px;
    display: block;
    font-size: $base-font-size-h3;
    font-weight: 400;
  }
  
  fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
  }
  
  #contact input[type="text"],
  #contact input[type="email"],
  #contact input[type="tel"],
  #contact textarea {
    width: 100%;
    border: 1px solid $Undecimal-color;
    background: $primary-color;
    margin: 0 0 5px;
    padding: 10px;
  }
  
  #contact input[type="text"]:hover,
  #contact input[type="email"]:hover,
  #contact input[type="tel"]:hover,
  #contact textarea:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid $Decimal-color;
  }
  
  #contact textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
  }
  
  #contact button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: $quaternary-color;
    color: $primary-color;
    margin: 0 0 5px;
    padding: 10px;
    font-size: $base-font-size-h2;
  }
  
  #contact button[type="submit"]:hover {
  
    transition: background-color 0.3s ease-in-out;
  }

  #contact input:focus,
  #contact textarea:focus {
    outline: 0;
    border: 1px solid $Decimal-color;
  }
  
  ::-webkit-input-placeholder {
    color: $Nonary-color;
  }
  
  :-moz-placeholder {
    color: $Nonary-color;
  }
  
  ::-moz-placeholder {
    color: $Nonary-color;
  }
  
  :-ms-input-placeholder {
    color: $Nonary-color;
  }