/* ====== GLOBAL ====== */

html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: $font-stack;
    font-size: $base-font-size-h2;
  }
  
  .div-padd {
    padding-top: 0;
  }

  .wrapper {
    max-width: 960px;
    margin: 0 auto;
  }