/* ====== GLOBAL ====== */

html {
    scroll-behavior: smooth;
  } 
  
  body {
    font-family: $font-stack;
    font-size: $base-font-size-h2;
  }

  .wrapper {
    max-width: 800px;
    margin: 0 auto;
  }

  .div-padd {
    padding-top: 5em;
  }