/* ======  VARIABLES ===== */

$primary-color: white; // Text Color NAVBAR
$secondary-color: #000000; // FONT Color
$tertiary-color: #333; // NAVBAR & FOOTER backgroundColor
$quaternary-color: #4CAF50; // Background Color on hoover NAVBAR
$quinary-color: rgb(216, 218, 218); // Background Color layout #1
$senary-color: whitesmoke; // Background Color layout #2
$septenary-color: rgba(0, 0, 0, 0.3); // BOX Shadow
$Octal-color: rgb(204, 204, 204); // BACKGROUND Color

$font-stack: "David Libre", Helvetica, Arial, sans-serif;
$base-font-size-h1: 20px;
$base-font-size-h2: 16px;
$base-font-size-h3: 14px;
$base-font-size-P: 12px;